@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

.wideParent {
  width: 1000px;
  margin: 0 auto;
}

.wideBox {
  width: calc(100vw - 20px);
  margin-left: calc(-50vw + 50% + 10px);
  margin-right: calc(-50vw + 50% + 10px);
}

/* .font-link {
  font-family: 'Electrolize',;
} */