@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

#background {
  z-index: -1;
  background-image: url('/background.png');
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  background-position: center;
}

/* Text shadow for landing */

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* Button fill animation to right with "transparent" */

.buttonHoverTransparent {
  background-image: linear-gradient(#313C55, #313C55);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .4s;
}

.buttonHoverTransparent:hover {
  background-size: 100% 100%;
}

/* Button fill animation to right with seagreen */

.buttonHoverSeagreen {
  background-image: linear-gradient(#02FFB3,#02FFB3);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .4s;
}

.buttonHoverSeagreen:hover {
  background-size: 100% 100%;
}
