@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

.wideParent {
  width: 1000px;
  /* margin: 0 auto; */
  /* margin: calc(-50vw + 50% + 12px); */
  margin: calc(-50vw + 50%);
}

.wideBox {
  width: calc(100vw - 20px);
  /* margin-left: calc(-50vw + 50% + 5px); */
  /* margin-right: calc(-50vw + 50% + 5px); */
  margin-left: calc(-50vw + 48%);
  margin-right: calc(-50vw + 50%);
}

.greyGradient {
  background-image: linear-gradient(150deg, #282A35 60%, #1D1E26 100%);
}

.greyGradientTwo {
  background-image: linear-gradient(150deg, #282A35 30%, #1D1E26 100%);
}
